<div class="central"> 
  <div id="game_message">
  <%= @message1 %>, <%= @name %>. <%=@message2 %>
  </div>
  <div id="options_box">
    <form action="/result">
      <div class="option_image">
        <label for="rock" class="image_link"><img src="/images/rsz_rock1.png" alt="Rock" /></label>
        <input type="radio" id="rock" name="choice" value="rock" checked />
      </div>
      <div class="option_image">    
        <label for="paper" class="image_link"><img src="/images/rsz_paper1.png" alt="Paper" /></label>   
        <input type="radio" id="paper" name="choice" value="paper"/>
      </div>
      <div class="option_image"> 
        <label for="scissors" class="image_link"><img src="/images/rsz_scissors2.png" alt="Scissors" /></label>
        <input type="radio" id="scissors" name="choice" value="scissors" />
      </div>
      <div style="padding: 10px">
        <input type="submit" value="Play">
      </div>
    </form>
  </div>
</div>
