<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
  </head>

  <body>

  <div class="central" id="welcome_box">
    <div id="welcome_message">
      Welcome to RPS
    </div>

    <div style="font-size: 80%; padding: 8px">
      Please enter your name
    </div>

    <div>
      <form action="/" method="post">
        <input type="text" name="name" id="name_box" required>
        <input type="submit" value="Submit" style="font-size: 70%">
      </form> 
    </div>
  </div>

  </body>

</html>


